<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	
	<bean id="admin" class="com.um.Administrador">
		<!-- CONSTRUCTOR INJECTION
		
		<constructor-arg name="idAd" value="88"></constructor-arg>
		<constructor-arg name="nombre" value="Pepe"></constructor-arg> -->

		<!-- PROPERTY INJECTION 
		
		<property name="idAd" value="77"></property>
		<property name="nombre" value="Brennda"></property> -->
	</bean>
</beans>
